--find-links https://github.com/cansik/data-storage/releases/tag/packages
--find-links https://github.com/cansik/openvino-arm/releases/tag/2022.1.0
--find-links https://github.com/cansik/mediapipe-silicon/releases/tag/v0.8.9

openvino-arm; platform_system == "Darwin" and platform.machine == 'arm64'
openvino; platform_system != "Darwin" and platform.machine != 'arm64'

mediapipe-silicon; platform_system == "Darwin" and platform.machine == 'arm64'
mediapipe; platform_system != "Darwin" and platform.machine != 'arm64'

visiongraph[realsense, azure]>=0.1.20
rich